<div class="nav">
    <div class="nav-top">
        <div class="nav-header bc">
			<img src="__PUBLIC__/images/logo.jpg" alt="百事得" />
        </div>	
		<div class="nav-bottom">
		<div class="nav-list bc">
            <ul class="nav-ui">
                <li class="inline"><a href="{:U('Index/index')}">公司首页</a></li>
                <li class="inline"><a href="{:U('Service/index')}">黄金首饰</a></li>
                <li class="inline"><a href="javascript:void(0);">产品介绍</a></li>
                <li class="inline"><a href="{:U('News/index')}">新闻资讯</a></li>
                <li class="inline"><a href="{:U('Comp/index')}">关于我们</a></li>
            </ul>
        </div>
    </div>
    </div>
    
</div>
    <div class="blankarea1"></div>
					<img src="__PUBLIC__/images/zhong3.jpg" alt="百事得宣传"  />