<!DOCTYPE html>
<html>
  <head>
    <include file="Public/header" title="中航鼎盛控制台"/>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <include file="Public/top" />
      <include file="Public/left" />
      

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            控制台
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">控制台</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
		 <!-- Log List -->
            <div class="box box-primary">
                <div class="box-header">
					<i class="ion ion-clipboard"></i>
					<h3 class="box-title">用户日志</h3>
					<div class="box-tools pull-right">
                    <ul class="pagination pagination-sm inline">
                      {$page}
                    </ul>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-hover">
					<thead>
						<tr>
							<th class="center">#</th>
							<th>用户</th>
							<th>IP</th>
							<th>时间</th>
							<th>日志内容</th>
						</tr>
					</thead>
					<tbody>
						<volist name="list" id="val">
						<tr>
							<td class="center">{$val['id']}</td>
							<td>{$val['user']}</td>
							<td>{$val['ip']}</td>
							<td>{$val['time']}</td>
							<td>{$val['log']}</td>
						</tr>
						</volist>
					</tbody>
				</table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.content-wrapper -->
	  <include file="Public/footer" />
    </div><!-- ./wrapper -->
	<include file="Public/script" />
  </body>
</html>
