<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" title="TonyMB | 控制台"/>
	</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<include file="Public/top" />
		<include file="Public/left" />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
		<section class="content-header">
          <h1>
            管理员，字段自行修改
            <small>注意表单提交方式</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 控制台</a></li>
            <li class="active">查看管理员</li>
          </ol>
        </section>
		<section class="content">
		<div class="row">
            <div class="col-xs-12">
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">管理员</h3>
                  <div class="box-tools">
					  <form class="form-inline" action="" method="get">
						<select name="field" class="form-control input-sm">
							<option value="user">账号</option>
						</select>
						<div class="input-group" style="width: 150px;">
						  <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
						  <div class="input-group-btn">
							<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
						  </div>
						</div>
					  </form>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th class="center">#</th>
						<th>账号</th>
						<th>启用</th>
						<th class="center">操作</th>
				    </tr>
					<volist name="list" id="val">
                    <tr>
						<td class="center">
							{$val['id']}
						</td>
						<td>{$val['account']}</td>
						<td>{$val['nick']}</td>
						<td class="center">
							<neq name="val['id']" value="1">
							<a href="{:U('edit')}?id={$val['id']}"><i class="fa fa-edit"></i></a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="del" href="javascript:;" val="{:U('del')}?id={$val['id']}" title="删除"><i class="fa fa-trash-o"></i></a>
							</neq>
						</td>						
					</tr>
					</volist>
                  </table>
                </div><!-- /.box-body -->
				<div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    {$page}
                  </ul>
                </div>
              </div><!-- /.box -->
            </div>
          </div>
		  </section><!-- /.content -->
	    </div>
		<!-- /.content-wrapper -->
		<include file="Public/footer" />
    </div><!-- ./wrapper -->
	<include file="Public/script" />
	<script>
		$('#pAdmin').addClass("active").siblings().removeClass("active");
		$('#iAdmin').addClass("active");
		$(function(){
			$(".del").click(function(){
				var val=$(this).attr('val');
				layer.open({
					icon:0,
					title: '删除列表',
					type: 0, 
					content: '是否删除选中列表',
					btn: ['确认', '取消'],
					yes: function(){
							location.href = val;
						}
				});	
			})
		})
	</script>
</body>
</html>