/*基础样式*/

.clear{clear:both}
body{
	font-family: 微软雅黑;
}
h1,h2,h3,h4{
	font-weight:normal;
	font-size:14px;
}
ol, ul {
    list-style: none;
}
a:hover{
	text-decoration:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.center{
	text-align:center;
}
.banner{
	width:100%;
	background-color:rgb(233, 233, 233);
	min-width:1000px;
}
.bc{
	margin:0 auto;
}
/*导航样式*/
.nav{
    position: relative;
    background: #b81c22;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
	min-width:1000px;
}
.nav ul { 
	width: 996px; 
	padding: 0 2px; 
	margin: 0 auto;
}
.nav ul li {
    width: 70px;
    float: left;
}
.nav ul li.current a {
	color:#b81c22;
	background: #FFF;
    height: 50px;
}
.nav ul li a {
	color:#fff;
    display: block;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}
.nav ul li a:hover{
	color:#b81c22;
	background: #FFF;
}


/*首页样式*/
.main .welcome{
	width: 996px; 
	margin: 0 auto;
}
.main .welcome h1{
	text-align:center;
    color: #666666;
    font-size: 25px;
}
.main .welcome h2{
	text-align:center;
	color: #666666;
    font-size: 18px;
}
.main .welcome h3{
	text-align:center;
	color: #666666;
    font-size: 13px;
}
.main .welcome p{
	text-align:center;
	font-size: 15px;
	color: #666666;
	line-height:2;
	margin-bottom:40px;
}
.main .bc{
	background-color:rgb(233, 233, 233);
	min-width:1000px;
	height:415px;
}
.main .product{
	width: 996px; 
	margin: 0 auto;
	margin-top:30px;
	padding-top:10px;
}
.main .product h1{
	text-align:center;
    color: #666666;
    font-size: 25px;
}
.main .product h2{
	text-align:center;
	color: #666666;
    font-size: 18px;
}
.main .product h3{
	text-align:center;
	color: #666666;
    font-size: 13px;
}
.main .product .goods{
	width: 960px;
	height:253px;
	background-color:#FFF;
	margin: 0 auto;
	padding:10px 0;
}
.main .product .goods .imgarea{
	background-color:#fff;
	width:233px;
	height:233px;
	float:left;
	margin-left:5px;
}
.main .news{
	width: 996px; 
	margin: 0 auto;
	padding-top:10px;
}
.main .news h1{
	text-align:center;
    color: #666666;
    font-size: 25px;
}
.main .news h2{
	text-align:center;
	color: #666666;
    font-size: 18px;
}
.main .news h3{
	text-align:center;
	color: #666666;
    font-size: 13px;
}
.main .news .list{
	width: 960px;
	height:253px;
	background-color:#FFF;
	margin: 0 auto;
	padding:10px 0;
}
.main .news .list .newsarea{
	background-color:#fff;
	width:313px;
	height:241px;
	float:left;
	margin-left:7px;
}
.main .news .list .newsarea p{
	font-size:12px;
}
.main .contact-bc{
	background-color:rgb(233, 233, 233);
	min-width:1000px;
	height:448px;
}
.main .contact{
	width: 996px; 
	margin: 0 auto;
	padding-top:10px;
}
.main .contact h1{
	text-align:center;
    color: #666666;
    font-size: 25px;
}
.main .contact h2{
	text-align:center;
	color: #666666;
    font-size: 18px;
}
.main .contact h3{
	text-align:center;
	color: #666666;
    font-size: 13px;
}
.main .contact .address{
	width: 960px;
	height:310px;
	margin: 0 auto;
}
/*脚步样式*/
.footer {
	background-color:#000;
	height:86px;
	color:#fff;
	font-size:12px;
	text-align:center;
	padding-top:5px;
}
.footer a{
	color: #fff;
}
.footer a:hover{
	color: #b81c22;
}




/*产品列表和新闻列表*/
.product-main{
	width: 960px; 
	margin: 0 auto;
	margin-top:10px;
}
.product-left{float:left;width:180px;}
.product-left h3{color:#000;padding-bottom:20px; font-size:20px;margin-bottom:20px; border-bottom:1px solid #dfdfdf; text-align:center; }
.product-left li{height:30px;}
.product-left a{color:#666; text-decoration:none;}
.product-left a:hover{color:#c49173; text-decoration:none;}
.product-right{float:left; border-left:1px solid #dfdfdf; width:780px; }

.right-title{ line-height:62px; padding-left:30px;border-bottom:1px solid #dfdfdf;color:#666 ;font-weight:bold}
.product-right .goods{height:280px;width:233px; float:left;margin:20px 0px 30px 18px;}
.product-right .goods .image-bottom{width:200px;margin-top:5px;text-align:center; color:#000;text-decoration:none; }
.product-right .goods a{text-decoration:none;}

.new-right{float:left; border-left:1px solid #dfdfdf; width:780px; margin-bottom:100px;}
.new-title{ line-height:62px; padding-left:30px;border-bottom:1px solid #dfdfdf; margin-bottom:20px;color:#666 ;font-weight:bold}
.new-right .new-ul{line-height:45px; list-style-type: disc; margin:auto;list-style-position: inside;} 
.new-right .new-ul li {height:45px;}
.new-right .new-ul span{float:right;}
.new-right .new-ul a{color:#000; text-decoration:none;font-size:15px;}
.new-right .new-ul a:hover{ font-size:16px;text-decoration:none;}
.new-content{margin:0px 10px 0px 20px;}
.new-content .content-title{font-size:30px; padding:10px 0px 20px 0px;text-align:center;}

/*公司介绍*/
.comp-main{
	width: 960px; 
	margin: 0 auto;
}
.comp-title{line-height:62px; padding-left:30px;border-bottom:1px solid #dfdfdf;color:#666 ;font-weight:bold;font-size:20px;}
.introduce{padding:30px 50px;}
.introduce h1{font-size:26px;text-align:center;}
.intro-image{padding-left:130px}
.intro-list{padding-left:150px}
.intro-list li{padding:5px}
.introduce p{line-height:2;}