<!DOCTYPE html>
<html>
	<head>
		<include file="Public/header" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Abcty2d6CGtscG1TZK3K32ZFIR5bMURZ"></script>
	</head>
	<body>
		<include file="Public/nav" />
		<div class="main">
			<div class="welcome">
				<h1>AVIC PEAK JEWELLERY TECHNOLOGY DEVELOPMENT CO LTD</h1>
				<h2>欢迎来到广东中航鼎盛首饰技术开发有限公司</h2>
				<h3>————</h3>
				<p>
					广东中航鼎盛首饰技术开发有限公司是中航金鼎黄金有限公司与香港东方珠宝集团有限公司共同创建的中外合资公司，实力雄厚，信誉可靠。<br />
					广东中航鼎盛首饰技术开发有限公司（简称中航鼎盛）是一家专业设计、生产、销售黄金饰品、白银饰品、珠宝首饰、硬金、足金（精品）、银成品材料（首饰用）、K金工艺品；珠宝首饰新技术开发；从事首饰加工技术进出口业务。<br />
					广东中航鼎盛首饰技术开发有限公司将依靠两家股东公司的雄厚实力深耕细作、精益求精地设计与生产精品首饰，使其工艺在常规黄金首饰、3D硬金首饰和其他首饰设计与加工领域处于领先地位；同时我们也将继续秉承专业的精神，不断完善管理体系，以热诚的态度，为客户服务实现双赢，与客户共同成就辉煌事业！
				</p>
				<div class="center">
					<a href="{:U('Comp/index')}"><img id="learn-more" src="__PUBLIC__/images/more.png" alt="了解更多"/></a>
				</div>
			</div>
			<div class="bc">
				<div class="product">
					<h1>THE MAIN PRODUCTS</h1>
					<h2>主营系列</h2>
					<h3>————</h3>
					<div class="goods">
						<foreach item="val" name="goods">
							<div class="imgarea">
								<a href="{:U('Goods/index')}"><img src="__PUBLIC__/upload/image/{$val['href']}" width="233" height="233"/></a>
							</div>
						</foreach>
					</div>
				</div>
			</div>
			<div class="news">
				<h1>NEWS DYNAMIC</h1>
				<h2>新闻动态</h2>
				<h3>————</h3>
				<div class="list">
					<div class="newsarea">
						<a href="{:U('Home/News/article/theme/25')}"><img src="__PUBLIC__/images/news1.jpg" /></a>
						<p>合作方广东金鼎黄金有限公司位于广东省肇庆市的中西部，年自产黄金约1.5吨，精练提纯能力达30吨/年，目前 对外收购加工已达10吨/年，是广东省最大的黄金生产国有企业...</p>
					</div>
					<div class="newsarea">
						<a href="{:U('Home/News/article/theme/26')}"><img src="__PUBLIC__/images/news2.jpg" /></a>
						<p>黄金首饰从其含金量上可分为纯金和K金两类。纯金首饰的含金量在99%以上，最高可达99.99%，故又有“九九金”、“十足金”、“赤金”之称。</p>
					</div>
					<div class="newsarea">
						<a href="{:U('Home/News/article/theme/24')}"><img src="__PUBLIC__/images/news3.png" /></a>
						<p>为提员工团结意识，公司组织了员工培训。本次培训主要是围绕“创新”和“团队”两个方面，让员工深入了解公司文化和设计需求...</p>
					</div>
				</div>
			</div>
			<div class="contact-bc">
				<div class="contact">
					<h1>CONTACT US</h1>
					<h2>联系我们</h2>
					<h3>————</h3>
					<div class="address">
						<div style="width:530px;height:260px;font-size:12px" class="fl" id="map"></div>
						<div class="fr">
							<ul style="padding:0;font-size:15px;margin-top:80px;">
								<li>官网：zhds.cxg-e.com</li>
								<li>邮编：516000</li>
								<li>热线：0758-6622298 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0758-6622299</li>
								<li>传真：0758-2759928</li>  
								<li>地址：广东省肇庆市端州区肇庆大道125区中航鼎盛综合大楼</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="Public/footer" />
		<script>
			$('#index').addClass('current');
			$('#learn-more').hover(
				function(){
					$(this).attr('src','__PUBLIC__/images/more1.png');
				},
				function(){
					$(this).attr('src','__PUBLIC__/images/more.png');
				}
			)
			//创建和初始化地图函数：
			function initMap(){
			  createMap();//创建地图
			  setMapEvent();//设置地图事件
			  addMapControl();//向地图添加控件
			  addMapOverlay();//向地图添加覆盖物
			}
			function createMap(){ 
			  map = new BMap.Map("map"); 
			  map.centerAndZoom(new BMap.Point(112.521694,23.12098),16);
			}
			function setMapEvent(){
			  map.enableScrollWheelZoom();
			  map.enableKeyboard();
			  map.enableDragging();
			  map.enableDoubleClickZoom()
			}
			function addClickHandler(target,window){
			  target.addEventListener("click",function(){
				target.openInfoWindow(window);
			  });
			}
			function addMapOverlay(){
			  var markers = [
				{content:"官网：zhds.cxg-e.com<br />热线：0758-6622298 6622299 <br />传真：0758-2759928",title:"广东中航鼎盛首饰技术开发有限公司",imageOffset: {width:-46,height:-21},position:{lat:23.120481,lng:112.520652}}
			  ];
			  for(var index = 0; index < markers.length; index++ ){
				var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
				var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
				  imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
				})});
				var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
				var opts = {
				  width: 200,
				  title: markers[index].title,
				  enableMessage: false
				};
				var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
				marker.setLabel(label);
				addClickHandler(marker,infoWindow);
				map.addOverlay(marker);
			  };
			}
			//向地图添加控件
			function addMapControl(){
			  var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
			  scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
			  map.addControl(scaleControl);
			  var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
			  map.addControl(navControl);
			  var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
			  map.addControl(overviewControl);
			}
			var map;
			  initMap();
		</script>
	</body>
</html>