<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/header" title="产品-广东广东中航鼎盛首饰技术开发有限公司首饰技术开发有限公司" />
</head>

<body>
	<script src="__PUBLIC__/js/jquery.js"></script>
	<!-- layer 2.2 -->
	<script src="__PLUGINS__/layer/layer.js"></script>
    <include file="Public/nav" />
    <div class="product-main"> 
        <div class="product-left">
			<h3>联系我们</h3>
			<ul class="left-nav">
				<li id="">><a href="{:U('index')}">联系我们</a></li>
			</ul>
		</div>
		<div class="new-right">
			<div class="new-title">
            	<span>联系方式</span>
            </div>
			<ul class="new-ul">
				<li>官网：zhds.cxg-e.com</li>
					<li>邮编：516000</li>
					<li>热线：0758-6622298 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0758-6622299</li>
					<li>传真：0758-2759928</li>  
					<li>地址：广东省肇庆市端州区肇庆大道125区广东中航鼎盛首饰技术开发有限公司综合大楼</li>
             </ul>
	
		</div>
    </div>
	<div class="clear"></div>
	<include file="Public/footer" />
	<script>
		$('#contact').addClass('current').sibling().removeClass('current');	
	</script>		
    </body>
</html>

