<header class="main-header">
        <!-- Logo -->
        <a href="{:U('Index/index')}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">AVIC</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>中航鼎盛</b>控制台</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
         
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning"></span>
                </a>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="__PUBLIC__/images/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">{$_SESSION['account']}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="__PUBLIC__/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      {$_SESSION['account']} - 超级管理员
                      <small>中航鼎盛首饰技术开发有限公司</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="{:U('Goods/index')}">产品</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="{:U('Img/index')}">图片</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="{:U('News/index')}">新闻</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{:U('Home/Index/index')}" class="btn btn-default btn-flat">前台</a>
                    </div>
                    <div class="pull-right">
                      <a href="{:U('Login/quit')}" class="btn btn-default btn-flat">退出</a>
                    </div>
                  </li>
                </ul>
              </li>
              
            </ul>
          </div>
        </nav>
      </header>