<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/header" title="新闻-中航鼎盛首饰技术开发有限公司" />
</head>

<body>
    <include file="Public/nav" />
	<div class="blankarea1"></div>
    <div class="main bc"> 
        <div class="blankarea4"></div>
        <div class="connect-content fl">
        	<div class="connect-name">
            	<span>联系我们</span>
            </div>
            <div id="upgrade-company-news" class="main-news">
            	<ul class="contact-ul">
					<li>官网：zhds.cxg-e.com</li>
					<li>邮编：516000</li>
					<li>热线：0758-6622298 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0758-6622299</li>
					<li>传真：0758-2759928</li>  
					<li>地址：广东省肇庆市端州区肇庆大道125区中航鼎盛综合大楼</li>
				</ul>
            </div>
        </div>
    </div>
	<include file="Public/footer" />
		<script src="__PUBLIC__/js/jquery.js"></script>
    </body>
</html>