<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/header" title="产品-广东广东中航鼎盛首饰技术开发有限公司首饰技术开发有限公司" />
</head>

	<body>
		<script src="__PUBLIC__/js/jquery.js"></script>
		<!-- layer 2.2 -->
		<script src="__PLUGINS__/layer/layer.js"></script>
		   <include file="Public/nav" />
		<div class="product-main"> 
			<div class="product-left">
				<h3>新闻资讯</h3>
				<ul class="left-nav">
					<li id="">><a href="{:U('index')}">新闻列表</a></li>
				</ul>
			</div>
			<div class="new-right">
				<div class="new-title">
					<span>新闻列表</span>
				</div>
				<div class="new-content">
				<h1 class="content-title">{$title}</h1>
				<div class="p10">{$content}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<include file="Public/footer" />
		<script>			
			$('#news').addClass('current');
		</script>		
	</body>
</html>